.card-container {
  width: 150px;
  height: 200px;
  padding: 14px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shiny-button {
  width: 20px;
  height: 20px;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px #000);
}

.type-icon-container
{
  display: flex;
}

.type-icon {
  width: 20px;
  height: 20px;
  margin: 0 2px;
  filter: drop-shadow(1px 2px 1px #000);
}

.gender-icon {
  width: 20px;
  height: 20px;
  margin: 0 2px;
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px #000);
}

.card-center {
  justify-content: center;
  align-items: center
}

.card-bottom {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  text-align: center;
  text-transform: capitalize;
}

.image-pokemon {
  width: 100px;
  height: 100px;
  filter: drop-shadow(15px 10px 6px #000);
}