.searchbar-container{
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.searchbar-input {
  width: 600px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 16px;
  border: 2px solid #000;
  outline: none;
}

label {
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}

/* Boton agregar tarea */
.searchbar-button-icon {
  position: absolute;
  right: 12px;
  top: 16px;
  width: 24px;
  height: 24px;
}